
/**
 * Metodología CSS: BEM - Block Elemen Modifier;
 *
 * Normas:
 * Las propiedades CSS se ordenaran en funcion de la formula PC-TV
 *  Posicionamiento - propiedades de posicionamiento
 *  Caja - propiedades de modelo de caja
 *  Texto - propiedades texto
 *  Visual - propiedades visuales
 */
 
.footer {
	display: flex;
	flex-direction: column;
	padding: 9vmin;
	text-align: center;
	background-color: #333;
	box-shadow: 0 8px 0 8px #111;/** mantien el efecto deseado */
}


.footer__section { 
	margin-top: 5vh; 
	margin-bottom: 5vh; 
}

.footer__nav {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__nav-item {
	padding: 3vh;
	font-size: 5vmin;
	color: #eff;
	text-decoration: none;
	cursor: pointer;
}

.footer__nav-item--open {
	color: #fc0;
	border-bottom: solid 2px #fc0;
}


.github,
.linkedin { 
	display: inline-block;
	width: 20vmin;
	height: 20vmin;
	background: #eff url("../img/iconos.png") no-repeat;
	background-size: 100vmin 20vmin;
	border-radius: 50%;
	cursor: pointer;
	text-decoration: none; 
}

.github { 
	margin-right: 20px; 
	background-position: 0 0;
}

.linkedin {
	background-position: -20vmin 0;
}


.gitgub:hover,
.linkedin:hover { background-color: #fc0; }


@media (min-width: 768px) and (min-height: 500px) {
	
	.footer {
		flex-flow: row wrap;
		justify-content: center;
		padding-top: 10vmin;
	}

	.footer__section { width: 40%; }

	.footer__nav-item {
		width: 30%;
		padding: 3vh 0;
		font-size: 2vmin;
		text-align: left;
	}

	.github,
	.linkedin {
		width: 9vmin;
		height: 9vmin;
		background-size: 45vmin 9vmin;
	}

	.linkedin {
		background-position: -9vmin 0;
	}
}

@media (min-width: 1200px) {

	.footer__section { width: 25%; }

	.footer__section:last-child {
		width: 30%;
		text-align: left;
	}
}