/**
 * Metodología CSS: BEM - Block Elemen Modifier;
 *
 * Normas:
 * Las propiedades CSS se ordenaran en funcion de la formula PC-TV
 *  Posicionamiento - propiedades de posicionamiento
 *  Caja - propiedades de modelo de caja
 *  Texto - propiedades texto
 *  Visual - propiedades visuales
 */
 
.footer {
	padding: 9vmin;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #2d3436;
}


.footer__section { 
	margin-top: 5vh; 
	margin-bottom: 5vh; 
}

.footer__nav {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__nav-item {
	padding: 3vh;
	font-size: 5vmin;
	text-decoration: none;
	color: #ecf0f1;
	cursor: pointer;
}

.footer__nav-item--open {
	color: #f1c40f;
	border-bottom: solid 2px #f1c40f;
}


.social-media__link { text-decoration: none; }

.social-media__link:first-child { margin-right: 20px; }

.social-media__img {
	width: 20vmin;
	height: 20vmin;
	background-color: #ecf0f1;
	border-radius: 50%;
	cursor: pointer;
}

.social-media__img:hover { background-color: #f1c40f; }


@media (min-width: 768px) and (min-height: 500px) {
	
	.footer {
		padding-top: 10vmin;
		flex-flow: row wrap;
		justify-content: center;
	}

	.footer__section {
		width: 40%;
	}

	.footer__nav-item {
		width: 30%;
		padding: 3vh 0;
		font-size: 2vmin;
		text-align: left;
	}

	.social-media__img {
		width: 8vmin;
		height: 8vmin;
	}
}

@media (min-width: 1200px) {

	.footer__section {
		width: 25%;
	}

	.footer__section:last-child {
		width: 30%;
		text-align: left;
	}
}