/**
 * Metodología CSS: BEM - Block Elemen Modifier;
 *
 * Normas:
 * Las propiedades CSS se ordenaran en funcion de la formula PC-TV
 *  Posicionamiento - propiedades de posicionamiento
 *  Caja - propiedades de modelo de caja
 *  Texto - propiedades texto
 *  Visual - propiedades visuales
 */
 
.footer {
	height: auto;
	padding: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
	background-color: #2d3436;
}

.footer__nav,
.footer__social-media {
	text-align: center;
	margin-bottom: 8%;
}

.social-media__img {
	width: 80px;
	height: 80px;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #ecf0f1;
	border-radius: 40px;
	cursor: pointer;
}

.social-media__img:hover {
	background-color: #f1c40f;
}

.footer__nav {
	width: 70%;
}

.footer__nav-item {
	display: block;
	padding: 5%;
	margin: 6%;
	font-size: 1.4rem;
	color: #fff;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.footer__nav-item--open {
	color: #f1c40f;
	border-bottom: solid 2px #f1c40f;
}