/**
 * Metodología CSS: BEM - Block Elemen Modifier;
 *
 * Normas:
 * Las propiedades CSS se ordenaran en funcion de la formula PC-TV
 *  Posicionamiento - propiedades de posicionamiento
 *  Caja - propiedades de modelo de caja
 *  Texto - propiedades texto
 *  Visual - propiedades visuales
 */


/*	Header 1 - Inicio
===========================================================*/
.header {
	height: 100vh;
	background-image: url( "../img/fondo-1200w.jpg" );
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.header__color {
	height: 101%; /* evita el corte del fondo con algunos dispositivos */

	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: bold;
	letter-spacing: 2px;
	background: linear-gradient(to bottom,
                              rgba(36,41,67,.15) 4%,
                              rgba(36,41,67,1) 96%);
}

.header__circle {
	width: 95vmin; /* las viewpot units son asombrosas */
	height: 95vmin;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 50%;
	background-color: rgba(0,0,0,0);
	box-shadow: 0px 0px 10px 1px #111;
}

.header__title,
.header__subtitle {
	font-size: 5.7vmin;
	font-weight: 100;
	text-shadow: 1px 1px 2px #222,
	             -1px -1px 2px #222;
}

.header__subtitle { color: #f1c40f; }

/*	Header 2 - proyectos -contacto - Sobre mi
===========================================================*/

.header-2 {
	padding: 6.5vh;
	text-align: center;
	background-color: #242943;
}

.header__link { text-decoration: none; }

.header__title-2 {
	margin: 0;
	font-size: 9.5vmax;
	font-weight: 600;
	color: #ecf0f1;
	letter-spacing: 2px;;
}