/**
 * Metodología CSS: BEM - Block Elemen Modifier;
 *
 * Normas:
 * Las propiedades CSS se ordenaran en funcion de la formula PC-TV
 *  Posicionamiento - propiedades de posicionamiento
 *  Caja - propiedades de modelo de caja
 *  Texto - propiedades texto
 *  Visual - propiedades visuales
 */

.main {
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 10% 5%;
	color: #fff;
	background-color: rgba( 36, 41, 67, 1 );
}

.main__title {
	line-height: 80px;
	font-weight: 100;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 4px 10px 1px #111;
}

.project {
	flex: auto;
	height: 400px;
	overflow: hidden;
	background-color: #ecf0f1; 
	border-radius: 10px;
	box-shadow: 0px 4px 10px 1px #111;
	/*
	*/
}

.project:nth-child( -n + 3 ) {
	margin-top: 10%;
}
/*

*/
.project__img {
	width: 100%;
}


/*	Main 2 - Proyectos - Contacto - Sobre mi
===========================================================*/
.main-2 {
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
	padding: 10% 5%;
	color: #fff;
	background-color: #bdc3c7;
}

.main__title-2 {
	font-size: 2em;
	line-height: 80px;
	color: #242943;
	text-shadow: 
		2px 2px 8px #444, 
		-2px -2px 8px #444;
}

.main__telefono,
.main__correo {
	padding: 10%;
	width: 100%;
	box-shadow: 0px 4px 10px 2px #222;
  border-radius: 10px;
	text-align: left;
	background-color: #242943; 
}

.main__telefono {
	margin-top: 20px;
}

.main__telefono-section,
.main__correo-section {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.main__telefono-img,
.main__correo-img {
	width: 40px;
	height: 40px;
	padding: 5px;
	border-radius: 30px;
	background-color: #ecf0f1;
}

.main__telefono-title,
.main__correo-title {
	margin-left: 10px;
	font-size: 1.5rem;
}

.telefono,
.correo {
	letter-spacing: 1px;
	text-align: center;
}

.main__profile-foto {
	width: 190px;
	height: 190px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	border-radius: 95px;
	border: solid 10px transparent;
	box-shadow: 0px 2px 10px 2px #444;
}

.main__img {
	width: 100%;
}