/**
 * Metodología CSS: BEM - Block Elemen Modifier;
 *
 * Normas:
 * Las propiedades CSS se ordenaran en funcion de la formula PC-TV
 *  Posicionamiento - propiedades de posicionamiento
 *  Caja - propiedades de modelo de caja
 *  Texto - propiedades texto
 *  Visual - propiedades visuales
 */

.main-1,  /** main-1 siempre se mantendra en direccion vertical */
.main-2 { /** main-2 es el unico que podra cambiar de direccion */
	display: flex;
	flex-direction: column;
	padding: 5vmin;
}

.main-color-1 { background-color: rgba(36,41,67,1); }

.main-color-2 { background-color: #bdc3c7; }

.main__title {
	line-height: 11vmax;
	font-size: 7vmin;
	font-weight: 100;
	text-align: center;
	border-radius: 10px;
	background-color: rgba(36,41,67,1);
	box-shadow: 0px 4px 10px 1px #111;
}

.contain__projects,
.contain__profile,
.contain__contact {
	display: flex;
	flex-direction: column;
}

.section__project {
	align-self: center;
	width: 90vmin;
	height: 60vmax;
	overflow: hidden;
	background-color: #ecf0f1; 
}

.section__project,
.section__profile,
.section__contact {
	margin-top: 6vmin; /*** OJOOOOOOOO */
	border-radius: 10px;
	box-shadow: 0px 4px 10px 1px #111;
}

.main__contain-img { 
	height: 50%;
	overflow: hidden;
}

/* mofidificar esta clase o mejor cargar la imagen con CSS*/
.project__img { width: 100%; }



/*	sobre mi
===========================================================*/
.main__contain-foto {
	align-self: center;
	width: 60vmin;
	height: 60vmin;
	overflow: hidden;
	margin-bottom: 6vmin;
	border-radius: 50%;
	border: solid 10px rgba(36,41,67,1);
	box-shadow: 0px 2px 10px 2px #444;
}

.main__profile-foto { width: 100%; }

.section__profile {
	padding: 5vmin;
	font-size: 6.2vmin;
	background-color: #242943; 
}

/*	contacto
===========================================================*/
.section__contact {
	padding: 7vmin;
	background-color: #242943; 
}

.section__contact-type {
	margin-bottom: 2.5vmax;
	display: flex;
	align-items: center;
}

.section__contact-img {
	width: 15vmin;
	height: 15vmin;
	padding: 5px;
	border-radius: 50%;
	background-color: #ecf0f1;
}

.section__contact-title {
	margin-left: 10px;
	font-size: 8vmin;
}

.section__contact-info {
	display: block;
	font-size: 5vw;
	letter-spacing: 1px;
	text-align: center;
}


@media (min-width: 768px) and (max-width: 1199px) {
	/** sin el height para que se vean en moviles muy largos en landscape*/
}

@media (min-width: 768px)  {

	.contain__projects { /** index.html y project.html*/
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}
}

@media (min-width: 768px) and (min-height: 500px) {

	.main-2, /** sobre_mi.html */
	.contain__contact { /** contacto.html*/
		flex-direction: row;
		justify-content: space-between;
	}

	.main__title { line-height: 8vh; }

	.main__title,
	.section__profile { font-size: 3vh; }


	.section__project {
		align-self: stretch;
		flex: auto; /** para obligar a los elementos a estirarse*/
		width: 320px;
		max-width: 450px; /** lo coloque solo para los items de index.html*/
		height: 50vh;
		margin-left: .5%; /** para que por lo menos tengan un espacio */
		margin-right: .5%;
	}	

	/** sobre mi */
	.main__contain-foto {
		align-self: flex-start;
		flex: 0 1 28vmin;
		height: 28vmin;
		margin-bottom: 0;
		margin-right: 5%;
	}

	.contain__profile { flex: 1; }

	.section__profile { line-height: 5vh; }

	/** Contacto */
	.section__contact {
		width: 49%;
		padding: 8vh 3%;
	}

	.section__contact-img {
		width: 10vmin;
		height: 10vmin;
	}

	.section__contact-title,
	.section__contact-info { font-size: 4vh; }
}


@media (min-width: 1200px) {

	.main-1,
	.main-2 {
		width: 1200px;
		padding: 5vmin 0;
		margin-right: auto;
		margin-left: auto;
	}
}