/**
 * Metodología CSS: BEM - Block Elemen Modifier;
 *
 * Normas:
 * Las propiedades CSS se ordenaran en funcion de la formula PC-TV
 *  Posicionamiento - propiedades de posicionamiento
 *  Caja - propiedades de modelo de caja
 *  Texto - propiedades texto
 *  Visual - propiedades visuales
 */

.main,
.main-2 {
	display: flex;
	flex-direction: column;
	padding: 5vmin;
}

.main { background-color: rgba(36,41,67,1); }

.main-2 { background-color: #bdc3c7; }

.main__title {
	line-height: 12vmax;
	font-size: 8vmin;
	font-weight: 100;
	text-align: center;
	border-radius: 10px;
	background-color: rgba(36,41,67,1);
	box-shadow: 0px 4px 10px 1px #111;
}

.main__project {
	align-self: center;
	width: 90vmin;
	height: 70vmax;
	overflow: hidden;
	background-color: #ecf0f1; 
}

.main__project,
.main__information,
.main__telefono,
.main__correo {
	margin-top: 6vmin;
	border-radius: 10px;
	box-shadow: 0px 4px 10px 1px #111;
}

.main__information,
.main__telefono,
.main__correo {
	padding: 7vmin;
	font-size: 16px;
	background-color: #242943; 
}

.main__contain-img { 
	height: 200px;
	overflow: hidden;
}

/* mofidificar esta clase o mejor cargar la imagen con CSS*/
.project__img { width: 100%; }


/*	sobre mi
===========================================================*/
.main__contain-foto {
	align-self: center;
	width: 60vmin;
	height: 60vmin;
	overflow: hidden;
	margin-bottom: 6vmin;
	border-radius: 50%;
	border: solid 10px rgba(36,41,67,1);
	box-shadow: 0px 2px 10px 2px #444;
}

.main__profile-foto {
	width: 100%;
}
.main__information { font-size: 6vmin; }


/*	contacto
===========================================================*/
.main__telefono-section,
.main__correo-section {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.main__telefono-img,
.main__correo-img {
	width: 15vmin;
	height: 15vmin;
	padding: 5px;
	border-radius: 50%;
	background-color: #ecf0f1;
}

.main__telefono-title,
.main__correo-title {
	margin-left: 10px;
	font-size: 8vmin;
}

.telefono,
.correo {
	display: block;
	font-size: 5vw;
	letter-spacing: 1px;
	text-align: center;
}