/**
 * Metodología CSS: BEM - Block Elemen Modifier;
 *
 * Normas:
 * Las propiedades CSS se ordenaran en funcion de la formula PC-TV
 *  Posicionamiento - propiedades de posicionamiento
 *  Caja - propiedades de modelo de caja
 *  Texto - propiedades texto
 *  Visual - propiedades visuales
 */

/*	Navigation Bar - pantallas pequeñas
===========================================================*/
.burger {
	position: fixed;
	z-index: 15;
	top: 4vmin;
	right: 4vmin;

	width: 24vmin;
	height: 24vmin;
	padding: 20px;

	background-color: rgba(51,51,51,.6);
	border-radius: 50%;
	box-shadow: 0px 0px 10px 4px #111;
	transition: 
		background-color .3s, 
		box-shadow .3s, 
		transform .3s;
}

.burger--active {
	transform: rotate( 90deg );
	background-color: transparent;
	box-shadow: 0px 0px 0px -1px #111;
}

.navigation,
.navigation-2 {
	position: fixed;
	z-index: 10;
	top: 0;

	width: 100%;
	height: 100vh;
	padding: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: center;

	visibility: hidden;
	opacity: 0;
	transform: scale( .7 );
	transition: 
		visibility .7s, 
		opacity .7s, 
		transform .7s;
}

.navigation--visible {
	transform: scale( 1 );
	visibility: visible;
	opacity: 1;
	
	transition: /** esto mantiene el efecto deseado*/
		visibility .7s, 
		opacity .7s, 
		transform .7s,
		background-color .6s .4s;

	background-color: rgba(17,17,17,.5);
}

.navigation__item {
	padding-top: 5vh;
	padding-bottom: 5vh;
	font-size: 7.5vmin;
	text-align: center;
	text-decoration: none;
	letter-spacing: 4px;
	color: #ecf0f1;
}


.navigation__item:nth-child( -n + 3 ) { border-bottom: 1.3px solid #eee; }

.navigation__item--open { color: #f1c40f; }


/* añadir un min-heign: 500px para ver si evito a los moviles pequeños */
@media (min-width: 768px) and (max-width: 1199px) and (min-height: 500px) {
	/** por ahora sera visibiliti hidden y no display none para
		evitar problemas con javascript ( se puede aplicar media queries
		a los documento javascript ) */
	.burger { visibility: hidden; }

	.navigation,
	.navigation-2 {
		height: auto;
		padding: 0;

		flex-direction: row;

		visibility: visible;
		opacity: 1;
		transform: scale( 1 );
		/** trancision para el cambio de background */
		transition: background .5s;
	}
	
	.navigation-2 {
		position: sticky;
		top: 0;
		background-color: #242943;
		box-shadow: 0 4px 6px #222;
	}

	.navigation > .navigation__item,
	.navigation-2 > .navigation__item { /** por la especificidad de nth */
		padding: 6vmin 3vmin;
		font-size: 2vh;
		border-bottom: 0;
	}

	.navigation > .navigation__item--open,
	.navigation-2 > .navigation__item--open {
		border-bottom: 2px solid #f1c40f;
	}
	
	.navigation--moved {
		background-color: #242943;
		box-shadow: 0 4px 6px #222;
	}

	.navigation__item:hover { color: #f1c40f; }
}

/* para pantallas mayores de 768px */

/*	Navigation Bar - pantallas grnades
===========================================================
 esto es opcional no se si es demasiado poner tantos efectos
.navigation--moved .navigation__item:hover {
	color: rgba( 44, 62, 80, 1 );
	background-color: #ecf0f1;
}
*/