/**
 * Metodología CSS: BEM - Block Elemen Modifier;
 *
 * Normas:
 * Las propiedades CSS se ordenaran en funcion de la formula PC-TV
 *  Posicionamiento - propiedades de posicionamiento
 *  Caja - propiedades de modelo de caja
 *  Texto - propiedades texto
 *  Visual - propiedades visuales
 */

/*	General Styles
===========================================================*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: 0;
}

html {
	height: 100%;
	font-family: sans-serif;
	font-size: 16px;
}

body {
	height: 100%;
	background-color: #ccc;
}

header,
nav,
main,
section,
footer { display: block; } /* evita problemas de compatibilidad */

/*	Header
===========================================================*/
.header {
	height: 90%;
	line-height: 100%;
	letter-spacing: 2px;
	font-weight: bold;
	color: #fff;
	background-image: url( "../img/fondo-1200w.jpg" );
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	/*
	background-color: #2c3e50;
	*/
}

.header__color {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba( 44, 62, 80, .7 );
}

/* temporal */
.header__title,
.header__text {
	font-size: 1rem;
}

/*	Navigation Bar
===========================================================*/
.navigation,
.navigation--moved {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding-right: 40px;
	transition: background-color .5s, line-height .5s;
}

.navigation {
	line-height: 60px;
	background-color: transparent;
}

.navigation--moved {
	background-color: rgba( 44, 62, 80, 1 );
	line-height: 100px;
	box-shadow: 0 2px 10px #222;
}

.navigation__item {
	display: inline-block;
	width: 120px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	transition: color .7s, background-color .7s;
}

.navigation .navigation__item:hover {
	color: #f1c40f;
}

.navigation--moved .navigation__item:hover {
	color: rgba( 44, 62, 80, 1 );
	background-color: #ecf0f1;
}


/*	Main Content
===========================================================*/


/*	Footer
===========================================================*/


/*	Media Queries
===========================================================*/


/*	
===========================================================*/