/**
 * Convencion de nomenclatura: BEM - Block Elemen Modifier;
 *
 * Normas:
 * Las propiedades CSS se ordenaran en funcion de la formula PC-TV
 *  Posicionamiento - propiedades de posicionamiento
 *  Caja - propiedades de modelo de caja
 *  Texto - propiedades texto
 *  Visual - propiedades visuales
 */

/*	General Styles
===========================================================*/
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: 0;
}

html {
	font: 16px sans-serif;
	color: #eff;
}

body { background-color: #bcc; }

/** body del index*/
body.color-index { 
	background-color: rgba(34,34,67,1); 
}

.scroll-off { 
	overflow-y: hidden; 
}

header,
nav,
main,
section,
article,
footer { display: block; } /* evita problemas de compatibilidad */

/** esta clase sera añadida a .navigation mediante javascript */
.blur { 
	-webkit-filter: blur( 5px ); 
	        filter: blur( 5px ); 
}
/** el color de los lados del efecto blur depende del background de body */

/** MEDIA QUERIES 
@media (min-width: 480px) and (max-width: 767px) {
		no hay mucho que cambiar para estos dispositivos gracias 
		a las viewport units, lo que si es obligatorio optimizar son 
		las imagenes, iconos, videos y cualquier otro contenido grafico 
		
		desde aqui empieza a desplegarce el menu de navegacion 
		pero centrado y se trabaja con dos columnasde informacion 
}
*/

/* los medias queries como este son utiles para cargar ciertos
		recursos multi media para cada dispositivo
@media (min-width: 768px) and (max-width: 1199px){
}
*/
