/**
 * Convencion de nomenclatura: BEM - Block Elemen Modifier;
 *
 * Normas:
 * Las propiedades CSS se ordenaran en funcion de la formula PC-TV
 *  Posicionamiento - propiedades de posicionamiento
 *  Caja - propiedades de modelo de caja
 *  Texto - propiedades texto
 *  Visual - propiedades visuales
 */


/*	Header 1 - Inicio
===========================================================*/
.header {
	height: 100vh;
	/* cambiar por enlaces relativos antes de pasar a produccion */
	background-image: url("../img/portafolio-img/fondo.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.header__color {
	height: 101%; /* evita el corte del fondo con algunos dispositivos */
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	letter-spacing: 2px;
	background: linear-gradient(to bottom,
                              rgba(34,34,67,.4) 0%,
                              rgba(34,34,67,1) 96%);
}

.header__circle {
	width: 95vmin; /* las viewpot units son asombrosas */
	height: 95vmin;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0);
	border-radius: 50%;
	box-shadow: 0 0 10px 1px #111;
}

.header__title,
.header__subtitle {
	font-size: 5.7vmin;
	font-weight: 100;
	text-shadow: 1px 1px 2px #222,
	           	-1px -1px 2px #222;
}

.header__subtitle { color: #fc0; }


/*	Header 2 - proyectos -contacto - Sobre mi
===========================================================*/
.header-2 {
	display: flex;
	padding: 5vh;
	background-color: #224;
	box-shadow: 0 -8px 0 8px #111;/** mantien el efecto deseado */
}

.header__link { text-decoration: none; }

.header__title-2,
.header__title-3 {
	margin: 0;
	font-size: 4vmax;
	font-weight: 100;
	color: #eff;
	letter-spacing: 2px;;
}

.header__title-3 { 
	display: none; 
	font-size: 5vmin;
	text-align: center;
}


@media (min-width: 480px) and (max-width: 767px) {

	.header { background-image: url("../img/portafolio-img-480w/fondo-480w.jpg"); }
}

@media (min-width: 768px) {

	.header__title,
	.header__subtitle { font-size: 5.5vmin; }
	
	.header-2 { 
		justify-content: center;
		padding: 6vh 0; 
		box-shadow: none;
	}
	
	.header__title-2 { display: none; }

	.header__title-3 { display: inline-block; }	

	.header__title-3:hover {
		transition: color 1s;
		color: #fc0;
	}
}

/** el min-height es para que los moviles mantengan el burger menu */
@media ( min-width: 768px ) and ( max-width: 1199px ) and ( min-height: 500px ) {

	.header {
		background-image: url("../img/portafolio-img-768w/fondo-768w.jpg"); 
	}

	.header__circle {
		width: 87vmin;
		height: 87vmin;
		margin-top: 8vmin;
	}
}

@media (min-width: 1200px) { 

	.header {
		background-image: url("../img/portafolio-img-1200w/fondo-1200w.jpg"); 
	}

	.header-2 { justify-content: flex-start; }

	.header__title-3 { padding-left: 2vmin; }

	 .header__link { 
		display: inline-block;
		/** para que se alinie a la izquierda con el contenido */
		margin-left: calc((100% - 1200px)/2); }
}